.form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-left: 40px;
    font-family: 'Lato', sans-serif;
}

.form-input{
    width: 500px;
    border-radius: 5px;
}

.form-btn{
    width:100px;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    background-color:#16697A;   
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

button{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #FDFCF9;
}

label{
    color: #16697A;
    font-family: 'Merriweather', serif;
}

input:focus, textarea { 
    outline:none;
    border-color: #489FB5;
    box-shadow: 0 0 10px #82C0CC;
}