.action-btn{
    height: 50px;
    width: 300px;
    border: 1px solid #fff;
    background-color:#16697A;
    ;
    position: absolute;
    left: 1%;
    margin-left: -1px;
    top: 102%;
    margin-top: -102px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;;
  }

  .home-btn{
    font-size: 20px;
    color: #FDFCF9;
    text-transform: uppercase;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.50em;
    margin-block-end: 0.60em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }

  .action-btn:hover{
    background-color: #82C0CC;
    text-decoration: none;
  }

  .home-btn:hover{
    color: #16697A;
    text-decoration: none;
  }

  @media (max-width: 40em) {
    .action-btn {
    visibility:hidden;
    }
    }
