.card-title{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: #16697A;
    background-color: #FDFCF9;
    padding-left: 20px;
}

.projects-title{
    font-family: 'Merriweather', serif;
    color: #16697A;
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid #16697A;
    padding-bottom: 15px;
    margin-top: 4px;
}

.card-img-top{
    border-radius: 10px;
}

.card-btn{
    margin-top: 20px;
    height: 50px;
    width: 190px;
    background-color:#16697A;   
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 50px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    border-left-style: hidden;
}

.card-btn:hover{
    background-color: #82C0CC;
}


.card-btn-font:hover{
    color: #16697A;
}

.card-btn-font{
    color: #FDFCF9;
}

.card-text{
    background-color: #FDFCF9;
    font-family: 'Lato', sans-serif;
    color: #489FB5;
    padding-left: 20px;
    border-radius: 10px;
}

.card{
    background-color : #FDFCF9;
    height: 280px;
    width: 200px;
    border-radius: 10px;
    box-shadow: -1rem 0 2rem #489FB5;
    margin-left: 80px;
    transition: 0.4s ease-out;
    z-index: 100;
}


.card:not(:first-child) {
    margin-left: -90px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 90px;
  transition: 0.4s ease-out;
}

.card-wrapper{
    padding-left: 150px;
    padding-top: 80px;
    height: 500px;
    width: 600px;
    display: flex;
}

.Site-content{
    background-color: #FDFCF9;
}

.light{
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 2px solid #16697A;
}


.resume{
    position: relative;
    left: 40%;
    height: 50px;
    width: 300px;
    border: 1px solid #fff;
    background-color:#16697A;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;   
}

.resume-padd{
    padding-bottom: 60px;
    border-top: 2px solid #16697A;
    padding-top: 60px;
}

.resume-name{
    font-size: 20px;
    color: #FDFCF9;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.50em;
    margin-block-end: 0.60em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.resume:hover{
    background-color: #82C0CC;
    text-decoration: none;
  }

  .resume-name:hover{
    color: #16697A;
  }

@media (max-width: 40em) {

    .resume{
        position: relative;
        left: 8%;
    }
 
.invis, .home-proj{
    display: none;
  
}
.card{
 position: fixed;
 top:20%;
 left: 110px;
}


 
    }